<option value="abdominals">Abdominals</option>
<option value="abductors">Abductors</option>
<option value="adductors">Adductors</option>
<option value="biceps">Biceps</option>
<option value="calves">Calves</option>
<option value="chest">Chest</option>
<option value="shoulders">Shoulders</option>
<option value="forearms">Forearms</option>
<option value="glutes">Glutes</option>
<option value="hamstrings">Hamstrings</option>
<option value="legs">Legs</option>
<option value="lats">Lats</option>
<option value="lower_back">Lower Back</option>
<option value="middle_back">Middle Back</option>
<option value="neck">Neck</option>
<option value="quadriceps">Quadriceps</option>
<option value="traps">Traps</option>
<option value="triceps">Triceps</option>