<!DOCTYPE html>
<html>
  <head>
    <title>Hello</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body class="loaded">
    <section>
      <div class="main-section">
        <nav>
          <div class="heading">
            <h1>
              <a href="">Welcome <%= user.name.split(' ')[0]%> !</a>
            </h1>
          </div>
          <div class="nav-wrapper">
            <ul>
              <li><a href="">Tracker</a></li>
              <li><a href="/workouts/new">workouts</a></li>
              <li><a href="/logout" class="button">Logout</a></li>
            </div>
          </ul>
        </div>
      </nav>
    </section>
    <section>
      <h1>Workouts</h1>
      <table>
        <tr>
          <th>Name</th>
          <th>Muscle</th>
            <th>difficulty</th>
            <th>date</th>
         
        </tr>

          </table>
    </body>
    </html>