<%- include('../partials/header') %>
  <body class="loaded">
    <!-- Header Section -->
    <section>
      <div class="main-section">
        <!-- Navigation -->
        <nav>
          <!-- Heading with User's Name -->
          <div class="heading">
            <h1>
              <!-- Display User's First Name -->
              <a href="">Welcome <%= user.name.split(' ')[0]%> !</a>
            </h1>
          </div>
          <!-- Navigation Links -->
          <div class="nav-wrapper">
            <ul>
              <li><a href="/routines/">View Routines</a></li>
              <li><a href="/workouts/new">Add workout</a></li>
              <li><a href="/workouts/exercise">All Exercises</a></li>
              <li><a href="/logout" class="button">Logout</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </section>
  </body>
</html>
