<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body class="loaded">
    <section>
      <div class="main-section">
        <nav>
          <div class="heading">
            <h1>
              <a href="">Welcome <%= user.name.split(' ')[0]%> !</a>
            </h1>
          </div>
          <div class="nav-wrapper">
            <ul>
              <li><a href="/routines/new">Add New Routine</a></li>
              <li><a href="/workouts/new">Add workout</a></li>
              <li><a href="/workouts/exercise">All Workouts</a></li>
              <li><a href="/logout" class="button">Logout</a></li>
            </div>
          </ul>
        </div>
      </nav>
    </section>
    </body>
    </html>