<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body class="loaded">
    <section>
      <div class="main-section">
        <nav>
          <div class="heading">
            <h1>
              <a href="/">Workout Tracker</a>
            </h1>
          </div>
          <div class="nav-wrapper">
            <ul>
              <li><a href="#about">About</a></li>
              <li><a href="/auth/google" class="button">Login</a></li>
            </div>
          </ul>
        </div>
      </nav>
    </section>
    <!-- About Section -->
    <h1 class="about-header" id="about">About Workout Tracker</h1>

    <section id="about" class="about-section">

      <div class="part">
          
        <img class="icon-border" src="/images/gym-icon.png" alt="Image 1">
        <div class="text-container">

          <p>Welcome to our web application, for workouts and routines which's an essential part of a comprehensive full stack project that I have developed. This user centered platform makes exercise management hassle free.</p>
        </div>
      </div>
      
      <div class="part">
        <div class="image-container">

          <img class="icon-border" src="/images/calendar-icon.png" alt="Image 2">
          <div class="text-container">

            <p>Users can easily log in to add their exercises and create workout routines. Both exercises and routines can be fully managed, giving you control over your fitness journey.
             </p>
          </div>
        </div>
      </div>
      
      <div class="part">
        <div class="image-container">

          <img class="icon-border" src="/images/exercise-icon.png" alt="Image 3">
          <div class="text-container">

            <p> The core of this application lies in its ability to create structured workout routines using exercises curated by the user. The interface is designed to be user friendly making routine planning easier and optimising each session according to fitness goals</p>
          </div>
        </div>
      </div>
    </section>
    <script src="/javascripts/script.js"></script>
    </body>
    </html>
